{% extends 'base.html' %}
{% load static %}

{% block title %}日記詳細 | Private Diary{% endblock %}

{% block active_diary_list %}active{% endblock %}


{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row">
            <div class="col-3">
                <strong>タイトル</strong>
            </div>
            <div class="col-9">
                {{ object.title }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <strong>サブタイトル</strong>
            </div>
            <div class="col-9">
                {{ object.title }}
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-3">
                <strong>本文</strong>
            </div>
            <div class="col-9">
                {{ object.content|linebreaksbr }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>写真</strong>
            </div>
            <div class="col-3">
                {% if object.photo1 %}
                    <img src="{{ object.photo1.url }}" width="200" height="200"/>
                {% endif %}
            </div>
            <div class="col-3">
                {% if object.photo2 %}
                    <img src="{{ object.photo2.url }}" width="200" height="200"/>
                {% endif %}
            </div>
            <div class="col-3">
                {% if object.photo3 %}
                    <img src="{{ object.photo3.url }}" width="200" height="200"/>
                {% endif %}
            </div>
        </div>
        <h2>コメント一覧</h2>
        <a href="{% url 'ampapp:answer' diary.pk %}">コメントする</a>
        <a href="#">テストベスト</a>
        <div>{{ current_book.title }}</div>
        <h3>aaaaa</h3>

        {% load ampapp_extras %}

        {% for answer in object.answer_set.all %}
        
            <h3>{{ answer.user }}</h3>
            <h4>{{forloop.counter}}:{{ answer.content }}</h4>
            {% if request.user.id == object.user_id %}
            <button class = "ak47" >ベストアンサー</button> 
            {% endif %}

            

            <!-- <h5>{{answer.read}}</h5> -->
        
        <!-- <input class id = "button1" type="button" href="{% url 'ampapp:likes' answer.user_id  answer.id   %} value= "test1"/> -->
        <button class = "mirai" data-id = {{answer.user_id|addstr:answer.id}}>{{answer.read}}</button> 
                
            
        <!-- <form action="{% url  'ampapp:likes' answer.user_id  answer.id  %}">
            <input id = 'next' type="submit" value="NEXT"/>
           </form> -->
        {% endfor %}


        <input id = "button1" type="button" value="test1"/>
      

            
        
        
        
       
        
    
    </div>
</div>



{% endblock %}